@import "src/Components/Styles/variables";

.avatarWrapper{
  background: $button-color;
  height: 100%;
  width: 100%;
  border-radius: 500px;
  .avatarText{
    color: $white;
    letter-spacing: 1px;
  }
}
