@import "../../Styles/variables";

.carouselWrapper{
  height: inherit;
  width: inherit;
  position: relative;
  &.carouselOverflowVisible{ overflow: visible; }
  &.carouselOverflowHidden{ overflow: hidden; }
  .carouselContent{
    height: inherit;
    width: inherit;
  }
  .carouselAction{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
    background: rgb(255,255,255,0.25);
    font-size: $font-size-xl;
    &:hover{
      opacity: 1;
    }
    &.carouselNext{
      right: 0;
    }
    &.carouselPrevious{
      left: 0;
    }
  }
}
