.nextPreviousWrapper{
  margin: 0 30px;
  .nextActionButton,
  .previousActionButton{
    width: 50px;
    height: 50px;
    background: #EEF1F6;
    border: 1px solid #FFFFFF;
    border-radius: 500px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(5, 29, 61, 0.12);
    padding: 0;
    min-width: inherit;
    &:hover{
      background: darken(#EEF1F6, 5);
    }
    svg{
      margin: 0;
    }
    &:disabled{
      background: darken(#EEF1F6, 9);
    }
  }
  .nextActionButton{
    margin-left: 10px;
  }
}
