@import '../../Styles/variables';

.p, .h1, .h2, .h3, .h4, .h5, .h6, .span {
  font-family: $font-mulish;
  font-weight: 400;
  white-space: pre-line;
  &.bold {
    font-weight: 700;
  }
}

.span {
  font-size: 1.4rem;
  line-height: 1.8;
  @media (max-width: $screen-md) {
    font-size: 1.6rem;
  }
}

.h1 {
  font-size: $font-size-base * 3.5;
  line-height: 61.6px;
  @media (max-width: $screen-md) {
    font-size: $font-size-base * 3;
  }
}

.h2 {
  font-size: $font-size-base * 3;
  line-height: 52.8px;
  @media (max-width: $screen-md) {
    font-size: $font-size-base * 2.5;
  }
}

.h3 {
  font-size: $font-size-base * 2.5;
  line-height: 44px;
  @media (max-width: $screen-md) {
    font-size: $font-size-base * 2;
  }
}

.h4 {
  font-size: $font-size-base * 2;
  line-height: 35.2px;
  @media (max-width: $screen-md) {
    font-size: $font-size-base * 1.5;
  }
}

.h5 {
  font-size: $font-size-base * 1.5;
  line-height: 26.4px;
  @media (max-width: $screen-md) {
    font-size: $font-size-base * 1.25;
  }
}

.h6 {
  font-size: $font-size-base * 1.25;
  line-height: 22px;
  @media (max-width: $screen-md) {
    font-size: $font-size-base * 1;
  }
}

.p {
  font-size: $font-size-base * 1;
  line-height: 18px;
  @media (max-width: $screen-md) {
    font-size: $font-size-base * 0.75;
  }
}
